In [1]:
'''TOPIC: String Based Assignment Problem'''

'TOPIC: String Based Assignment Problem'

In [2]:
'''1. Write a program to reverse a string.'''

s = "string"
print(s[::-1])

gnirts

In [ ]:
'''2. Check if a string is a palindrome.'''

#Take input from user and store it in varriables.
Text = input('enter the text to check palindrome')
Text1 = Text[::-1]
print(Text1)
#Print the reversed text
print('The text is palindrome? : ' + str(Text == Text1))

In [ ]:
'''3. Convert a string to uppercase.'''
s = "string"
print(s.upper())

In [ ]:
'''4. Convert a string to lowercase.'''
s = "STRING"
print(s.lower())

In [ ]:
#5. Count the number of vowels in a string.'''

#Take input from user and store it in varriables.
Text = input('enter the text')
#Print the length of text
print('In this text total number of a is ' + str((Text.count('a'))))
print('In this text total number of e is ' + str((Text.count('e'))))
print('In this text total number of i is ' + str((Text.count('i'))))
print('In this text total number of o is ' + str((Text.count('o'))))
print('In this text total number of u is ' + str((Text.count('u'))))

In [ ]:
#6. Count the number of consonants in a string.'''

#Take input from user and stroe it in varriables.
Text = input('enter the text')
#Print the length of text
print('In this text total number of b is ' + str((Text.count('b'))))
print('In this text total number of c is ' + str((Text.count('c'))))
print('In this text total number of d is ' + str((Text.count('d'))))
print('In this text total number of f is ' + str((Text.count('f'))))
print('In this text total number of g is ' + str((Text.count('g'))))
print('In this text total number of h is ' + str((Text.count('h'))))
print('In this text total number of j is ' + str((Text.count('j'))))
print('In this text total number of k is ' + str((Text.count('k'))))
print('In this text total number of l is ' + str((Text.count('l'))))
print('In this text total number of m is ' + str((Text.count('m'))))
print('In this text total number of n is ' + str((Text.count('n'))))
print('In this text total number of p is ' + str((Text.count('p'))))
print('In this text total number of q is ' + str((Text.count('q'))))
print('In this text total number of r is ' + str((Text.count('r'))))
print('In this text total number of s is ' + str((Text.count('s'))))
print('In this text total number of t is ' + str((Text.count('t'))))
print('In this text total number of v is ' + str((Text.count('v'))))
print('In this text total number of x is ' + str((Text.count('x'))))
print('In this text total number of y is ' + str((Text.count('y'))))
print('In this text total number of z is ' + str((Text.count('z'))))

In [ ]:
'''7. Remove all whitespaces from a string.'''

s = "Remove all whitespaces from a string"
print(s.replace(" ", ""))

In [ ]:
#8. Find the length of a string without using the `len()` function.'''
s = input()
count = 0
for i in s:
    count +=1
print("The length of count is:" , count)

In [ ]:
'''9. Check if a string contains a specific word.'''

s = "This is a sample code"
a = s.find(input("enter the word to check:"))

if a>-1:
 print("Specified word is available")
else: print("Specified word is not available")

In [ ]:
'''10. Replace a word in a string with another word.'''
#Store the text in varriabble
S = "My name is Prakash Singh"

S.replace(input("enter the text which you want to replace:"), input("enter the text which you want to place:"))

In [ ]:
'''11. Count the occurrences of a word in a string.'''
#Store the text in varriabble
S = "My name name name is Prakash Singh"
#Print the count of specific word in stored text
print(S.count(input('enter the word to count for occurence: ')))

In [ ]:
'''12. Find the first occurrence of a word in a string.'''

#Store the text in varriabble
S = input("enter the whole string:")
#find the index of first occurance of sentence in string
print("The index of first occurence of word is:" + str((S.find(input("enter the word which is need to find in string:")))))

In [ ]:
'''13. Find the last occurrence of a word in a string.'''

#Store the text in varriabble
S = input("enter the whole text:")
#find the index of last occurence of a word in a string
print("The index of last occurence of word is:" + str((S.rfind(input("enter the word which is need to find in string:")))))

In [ ]:
'''14. Split a string into a list of words.'''
#Store the text in varriabble
s = input("enter the string to convert in to list:")
#Split the string 
s1 = s.split()
#print the list of string
print(s1)

In [ ]:
'''15. Join a list of words into a string.'''

#create the list of words
l1 = ['My', 'name', 'is', 'Prakash', 'singh', 'and', 'my', 'father', 'name', 'is', 'manoj', 'singh']
#Join the words of list and make it string
print( " ".join(l1))

In [ ]:
'''16. Convert a string where words are separated by spaces to one where words are separated by underscores.'''
#Store the text in varriabble
s1 = "My name is Prakash"
#convert the string in to list
s2 = s1.split()
#Join the words of list and make it string with underscores
print( "_".join(s2))

In [ ]:
'''17. Check if a string starts with a specific word or phrase.'''
#Store the text in varriabble
s1 = input("enter the sentence:")
s2 = s1.split()
s3 = s2[0]

if s3 == input("enter the word to check in start of sentence:"):
    print("This string starts with entered word.")
else:
    print("This string does not start with entered word.")

In [ ]:
'''18. Check if a string ends with a specific word or phrase.'''
#Store the text in varriabble
s1 = input("entere the sentence:")
s2 = s1.split()
s3 = s2[-1]

if s3 == input("enter the word to check in last of sentence:"):
    print("This string starts with entered word.")
else:
    print("This string does not start with entered word.")

In [ ]:
'''19. Convert a string to title case (e.g., "hello world" to "Hello World").'''

#Store the text in varriabble
s1 = "my name is prakash"
#use title function
s2 = s1.title()

s2

In [ ]:
'''20. Find the longest word in a string.'''
#Store the text in varriabble
s1 = "My Name is prakash singh"
#convert to list by split func.
s2 = s1.split()
#create empty varriable for longest word & max length
longest_word = ""
max_length = 0
#use for loop to itterate through list
for i in s2:
    if len(i) > max_length:
        longest_word = i
        max_length = len(longest_word)

print(longest_word)

In [ ]:
'''21. Find the shortest word in a string.'''

#Store the text in varriabble
s1 = "My Name is prakash singh & i have to Find the shortest word in string"
#convert to list by split func.
s2 = s1.split()
#create empty varriable for shortest word & shortest length
shortest_word = ""
min_length = len(s1)
#itterate through for loop
for i in s2:
    if len(i) < min_length:
        shortest_word = i
        min_length = len(shortest_word)
        
print(shortest_word)

In [ ]:
'''22. Reverse the order of words in a string.'''

#Store the text in varriabble
s1 = "My Name is prakash singh"
#convert to list by split func.
s2 = s1.split()
#store the reverse list in varriable
s3 = s2[::-1]
#combine the list by join method
print(' '.join(s3))

In [ ]:
'''23. Check if a string is alphanumeric.'''
#Store the text in varriabble
s1 = "1prakash"
#check by isalnum method
s1.isalnum()

In [ ]:
'''24. Extract all digits from a string.'''
#Store the text in varriabble
s1 = '123sudh 212 1prakash'
#itterate through forloop and print the digits by isdigit method
for i in s1:
    if i.isdigit() == True:
        print(i)

In [ ]:
'''25. Extract all alphabets from a string.'''

#Store the text in varriabble
s1 = '123sudh 212 1prakash'
#itterate through forloop and print the text by isalpha method
for i in s1:
    if i.isalpha() == True:
        print(i)

In [ ]:
'''26. Count the number of uppercase letters in a string.'''

#Store the text in varriabble
s1 = 'Count The Number Of Uppercase Letters In A STring'
#Create a varriabble with 0 value
n = 0
#itterate through for loop
for i in s1:
    if i.isalpha() == True:
        if i.isalpha() == i.isupper():
            n = n+1
#Print the value of n  
print(n)

In [ ]:
'''27. Count the number of lowercase letters in a string'''
#Store the text in varriabble
s1 = 'String'
#Create a varriabble with 0 value
n = 0 
#itterate through for loop
for i in s1:
    if i.isalpha() == True:
        if i.isalpha() == i.islower():
            n = n+1
#print the number of lowercase letters 
print(n)

In [ ]:
'''28. Swap the case of each character in a string'''
#Store the string in a varriable
s1 = 'Prakash'
#use swapcase method to swap the case of each charracter
s2 = s1.swapcase()
#print the value
print(s2)

In [ ]:
'''29. Remove a specific word from a string'''
#Store the text in varriabble
s1 = 'Remove a specific word from a string'
#Convert the string in to list
s2 = s1.split()
#Create a empty list for itteration
s3 = []
#Create a varriable to take the input from user
s4 = input('enter the specific word to remove:')

#Apply condition when input word does not match with existing string 
if s4 not in s2:
        print('Input text is not available in string')
        s5 = s1
        
        
#Itterate through for loop
else:
    for i in s2:
        if i != s4:
            s3.append(i)
    s5 = ' '.join(s3) 
    print("String after removal of specific word is = " + s5)

In [ ]:
'''30. Check if a string is a valid email address.'''
#Store the text in varriabble
s1 = input('enter the email address to check the validation')
#split the text from '@' and store in a varriable
s2 = s1.split('@')
#split the text from '.' and store in a varriable
s3 = s2[1].split('.')

if len(s2) == 2 & len(s3) ==2:
    print('It is a valid email')
else:
    print('it is a invalid email')

In [ ]:
len(s2)

In [ ]:
'''31. Extract the username from an email address string.'''

#Store the text in varriabble
s1 = input('enter the email address to Extract the username')
#split the text from '@' and store in a varriable
s2 = s1.split('@')[0]
print(s2)

In [ ]:
'''32. Extract the domain name from an email address string.'''

#Take input from user to extract user name from email
s1 = input('enter the email address to Extract the domain name')
#split the text from '@' and store in a varriable
s2 = s1.split('@')[1]
#print the value
print(s2)

In [ ]:
'''33. Replace multiple spaces in a string with a single space.'''

#Store the text in varriabble
s1 = ' Replace multiple spaces in a    string with a    single   space    '
#use split method & then print it by using join method to remove multiple space
print(' '.join(s1.split()))

In [ ]:
'''34. Check if a string is a valid URL.'''

#sample of a url = https://www.google.com
#Take the User input 'URl' in varriabble
s1 = input('enter the url to check the validity, ex - "https://www.domain.com" :')
#split the URL fro '.'
s2 = s1.split('.')
#use conditional statment to cehck the validity
if s2[0] == 'https://www' or s2[0] == 'http://www':
    if s2[-1] == 'com' or s2[-1] == 'org' or s2[-1] == 'in':
        print('entered URL is valid!')
    else:
        print('entered URL is not valid!')
else:
    print('entered URL is not valid!')

In [ ]:
'''35. Extract the protocol (http or https) from a URL string.'''

#sample of a url = https://www.google.com
#Take the SUerr input 'URl' in varriabble
s1 = input('enter the url to extract the protocol, ex - "https://www.domain.com" :')

s2 = s1.split('://')

if s2[0] == 'https' or s2[0] == 'http':
        print('Protocol in entered URL is:' , s2[0])
else:
    print('entered URL is not valid!')

In [ ]:
'''36. Find the frequency of each character in a string.'''

s1 = 'Find the frequency Find the frequency Find the frequency'
n = {}

for i in s1:
    if i in n:
        n[i] = n[i]+1
    else:
        n[i] = 1
#printing result
print("Count of each character in string is : \n" + str(n))

In [ ]:
'''37. Remove all punctuation from a string.''' 
#import the string module
import string
#store the string in a varriable
s1 = 'Remove! all? punctuation/@ from a string'

#use 'str.makemaketrans' method to create a translation table
translator = str.maketrans('', '', string.punctuation)

#use translate method to remove all the punctuation mark
s2 = s1.translate(translator)

print(s2)

In [ ]:
'''38. Check if a string contains only digits.'''
#Store the text in varriabble
s1 = '123456'
#use isdigit method
s2= s1.isdigit()
#print the result
print("string contains only digits:" + str(s2))

In [ ]:
'''39. Check if a string contains only alphabets.'''

#Store the text in varriabble
s1 = '12345LL6'
#use isalpha method
s2= s1.isalpha()
#print the result
print("string contains only alphabets:" + str(s2))

In [ ]:
'''40. Convert a string to a list of characters.'''
#Store the text in varriabble
s1 = 'Convert a string'
#convert the string to a list of character by using list() method
s2 = list(s1)
#print the value
print(s2)

In [ ]:
'''41. Check if two strings are anagrams.'''

#Store the text in varriabble

s1 = input("Enter the first word")
s2 = input("Enter the second word")
#convert the string in lower case an then sort it and check by == operator between both

if sorted(s1.lower()) == sorted(s2.lower()):
    print ("The strings are anagrams")
else:
    print("The strings are not anagrams")

In [ ]:
'''42. Encode a string using a Caesar cipher.'''

s1 = 'hello, world'
shift = 3
encoded_text = ''

for char in s1:
    if char.isalpha():
        encoded_chr = chr( (ord(char) + shift - ord('a'))%26 + ord('a'))
    else:
        encoded_chr = char
        
    encoded_text += encoded_chr
    
print("Encoded text:", encoded_text)

In [ ]:
'''43. Decode a string using a Caesar cipher.'''

s1 = 'khoor, zruog'
shift = 3
encoded_text = ''

for char in s1:
    if char.isalpha():
        encoded_chr = chr( (ord(char) - shift - ord('a'))%26 + ord('a'))
    else:
        encoded_chr = char
        
    encoded_text += encoded_chr
    
print("Encoded text:", encoded_text)

In [ ]:
'''44. Find the most frequent word in a string'''


import re
from collections import Counter

s1 = 'hello world, hello pwskills'
words = s1.split()
word_counter = Counter(words)

most_common_word = word_counter.most_common(1)[0][0]
    
print(most_common_word)

In [ ]:
'''45. Find all unique words in a string'''

s1 = "hello world, hello pwskills"

# this will use to remove the punctuations & to convert the string in lwer case
clean_string = re.sub(r'[^\w\s]', '', s1).lower() 

#this will use to split the string & to store in a set to extract unique words only
words = set(clean_string.split())

print('Unique words are:' , words)

In [ ]:
'''46. Count the number of syllables in a string.'''


s1 = input('enter the word to check syllables')
# Count vowel groups 
s2 = re.findall(r'[aeiouy]+', s1, re.IGNORECASE)

print ('The word has', len(s2), 'syllable')

In [ ]:
'''47. Check if a string contains any special characters.'''

import re

special_chr = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

s1 = "hello world! hello pwskills"
# Use the search() method to find a match
checkSpecialChr = special_chr.search(s1)
# Print the status 
print ('String contains special character: ' + str(bool(checkSpecialChr)))

In [ ]:
'''48. Remove the nth word from a string.'''

def remveNthWord(string, n):
    
    s2 = string.split()
    s2.remove(s2[n])
    s3 = ''
    
    for i in s2:
        s3 = s3 + i + ' '

    return s3
    
##Diver code
string = 'Remove the nth word from a string'
n = 2

remveNthWord(string, n)

In [ ]:
'''49. Insert a word at the nth position in a string.'''

def insertAWord(string, word, n):
    
    s2 = string.split()
    s2.insert(n , word)
    
    s3 = ''
    
    for i in s2:
        s3 = s3 + i + ' '
        
    return s3  
    
##Driver code

string = 'Insert a word at the nth position in a string'
word = 'word'
n = 3

insertAWord(string, word, n)

In [ ]:
'''50. Convert a CSV string to a list of lists.'''

def csv_list(string):
    s1 = string.split(',')
    s2 = []
    for i in s1:
        s2.append(i.lstrip())
            
    return s2

##Driver code

string = 'i, am, Prakash, Singh'

csv_list(string)

In [ ]:
'''List Based Practice Problem :'''

In [ ]:
'''1. Create a list with integers from 1 to 10.'''
a = []
for i in range (1,11):
    a.append(i)
print(a)

In [ ]:
'''2. Find the length of a list without using the `len()` function.'''

def find_list_length(list):
    a = 0
    
    for i in list:
        a = a+1
    return a

##Driver code

list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, "string"]
find_list_length(list)

In [ ]:
'''3. Append an element to the end of a list.'''

def append_elem_last(list1, element):
    
    list1.append(element)
    
    return list1
    
    
##Driver code

element = 'element'
list1 = [1,2,3,4]

append_elem_last(list1, element)

In [ ]:
'''4. Insert an element at a specific index in a list.'''

def insert_si_list(list1, element, index):
    list1.insert(index, element)
    
    return list1

##Driver code

element = 'element'
index = 5
list1 = [1,2,3,4,6,7,8]

insert_si_list(list1, element, index)

In [ ]:
'''5. Remove an element from a list by its value.'''
def remove_ele_list(list1, element):
    
    
    list2=[]
    
    for i in list1:
        if element != i:
            list2.append(i)
            
    return list2

##Driver code
list1 = [1,2,3,3,4,6,7,8]
element = 3

remove_ele_list(list1, element)

In [ ]:
'''6. Remove an element from a list by its index.'''

def remove_ele_list(list1, elementind):
    
    list1.pop(elementind)
    return list1
    
    
    
##Driver code
list1 = [1,2,3,4,5,6,7,8]
elementind = 6
remove_ele_list(list1, elementind)

In [ ]:
'''7. Check if an element exists in a list.'''

def chcekAnElement(list1, element):
    
        if element in list1:
            return 'Element is available in list'
        else:
            return 'Element is not available in List'
    

##Driver code

list1 = [1,2,3,4,5,6,7,8,9,10]
element = 11

chcekAnElement(list1, element)

In [ ]:
'''8. Find the index of the first occurrence of an element in a list.'''

def find_index(list1, element):
    
    a = 0
        
    for i in list1:
        if element != i:
            a = a+1
    return a
        


##Driver code

element = 3
list1 = [1,2,3,4,5,6,7,8,9,10]

find_index(list1, element)

In [ ]:
'''9. Count the occurrences of an element in a list.'''

def count_elem1(list1, element):
    
    count = 0
    for i in list1:
        if i == element:
            count = count+1
            
    return count

def count_elem2(list1, element):
             
    return list1.count(element)

##Driver code
list1 = [1,1,1,2,2,3,3,3,4,5,6,7]
element = 2

count_elem1(list1 , element)

In [ ]:
'''10. Reverse the order of elements in a list.'''

def rev_list(list1):
    return list1[::-1]
##Driver code
list1 = [1,1,1,2,2,3,3,3,4,5,6,7]

rev_list(list1)

In [ ]:
'''11. Sort a list in ascending order.'''

def sort_list(list1):
    list1.sort()
    return list1

##Driver code
list1 = [1,5,4,3,2,1]

sort_list(list1)

In [ ]:
'''12. Sort a list in descending order.'''
def sort_list_d(list1):
    list1.sort(reverse = True)
    return list1

##Driver code
list1 = [1,5,4,3,2,1]

sort_list_d(list1)

In [ ]:
'''13. Create a list of even numbers from 1 to 20.'''
x = []
for i in range(2,20,2):
    x.append(i)
print(x)

In [ ]:
'''14. Create a list of odd numbers from 1 to 20.'''
x = []
for i in range(1,20,2):
    x.append(i)
print(x)

In [ ]:
'''15. Find the sum of all elements in a list.'''

list1 = [1,2,3,4]

print (sum(list1))

In [ ]:
'''16. Find the maximum value in a list.'''
list1 = [1,2,3,5,10,1,50]
print (max(list1))

In [ ]:
'''17. Find the minimum value in a list.'''
list1 = [1,2,3,5,10,1,50]
print (min(list1))

In [ ]:
'''18. Create a list of squares of numbers from 1 to 10.'''

list1 = []

for i in range(1,11):
    list1.append(i**2)
print(list1)

In [ ]:
'''19. Create a list of random numbers.'''

import random

list1 = []

for i in range(1,10):
    
    l = random.randint(1,100)
    list1.append(i)
    
print (list1)

In [ ]:
'''20. Remove duplicates from a list.'''
list1 =  [1,1,1,2,2,3,3,3,4,5,6,7]
print(list(set(list1)))

In [ ]:
'''21. Find the common elements between two lists.'''
list1 =  [1,2,3,4,5,6,7]
list2 = [10,20,30,40,1,2,20]
common = []

for i in list1:
    if i in list2:
        common.append(i)
print (common)

In [ ]:
'''22. Find the difference between two lists.'''

list1 =  [1,2,3,4,5,6,7]
list2 = [10,20,30,40,1,2,20]
common = []

for i in list1:
    if i not in list2:
        common.append(i)
for i in list2:
    if i not in list1:
        common.append(i)
        
print (common)

In [ ]:
'''23. Merge two lists.'''
list1 =  [1,2,3,4,5,6,7]
list2 = [10,20,30,40,1,2,20]

print(list1 + list2)

In [ ]:
'''24. Multiply all elements in a list by 2.'''
list1 =  [1,2,3,4,5,6,7]
list2 = []
for i in list1:
    list2.append(i*2)
print(list2)

In [ ]:
'''25. Filter out all even numbers from a list.'''

list1 = [3, 4, 5, 6, 7, 10, 20, 30, 40, 20]
list2 = []

for i in list1:
    if i%2 == 0:
        list2.append(i)
        
print(list2)

In [ ]:
'''26. Convert a list of strings to a list of integers.'''

list1 = ['3', '4', '5', '6', '7', '10', '20', '30', '40', '20']
list2 = []

for i in list1:
    list2.append(int(i))
    
print(list2)

In [ ]:
'''27. Convert a list of integers to a list of strings.'''

list1 = [3, 4, 5, 6, 7, 10, 20, 30, 40, 20]
list2 = []

for i in list1:
    list2.append(str(i))
    
print(list2)

In [ ]:
'''28. Flatten a nested list.'''

list1 = [[3, 4], [5, 6], [7, 10, 20], [30, 40, 20]]
list2 = []

for i in list1:
    for k in i:
        list2.append(k)
print(list2)

In [ ]:
'''29. Create a list of the first 10 Fibonacci numbers.'''

list1 = [0, 1]

for i in range(2,10):
    nextfib = list1[i-1] + list1[i-2]
    list1.append(nextfib)
    
print (list1)

In [ ]:
'''30. Check if a list is sorted.'''

def check_sort_list(list1):
    
    for i in range(0, len(list1)):
        if list1[i] < list1[i-1]:
            return 'The list is not sorted in assending order.'
    return 'The list is sorted in assending order.'

##Driver code
list1 = [3, 4, 5, 6, 7, 10, 20, 30, 40, 50]

check_sort_list(list1)

In [9]:
'''31. Rotate a list to the left by n positions.'''

def rotate_list(list1, n):
    list2 = list1[n:] + list1[:n]
    
    return list2


##Driver code
list1 = [3, 4, 5, 6, 7, 10, 20, 30, 40, 50]
n = 2
rotate_list(list1, n)

[5, 6, 7, 10, 20, 30, 40, 50, 3, 4]

In [2]:
'''32. Rotate a list to the right by n positions.'''

def rotate_list_r(list1, n):
    list2 = list1[-n:] + list1[:-n]
    
    return list2


##Driver code
list1 = [3, 4, 5, 6, 7, 10, 20, 30, 40, 50]
n = 2
rotate_list_r(list1, n)

[40, 50, 3, 4, 5, 6, 7, 10, 20, 30]

In [1]:
'''33. Create a list of prime numbers up to 50.'''
list1 = []
for num in range(2,50):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
        list1.append(num)
print (list1)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [14]:
'''34. Split a list into chunks of size n.'''
def split_list(list1, n):
    l1 = []
    l2 = [] 

    for i in list1:
        if len(l1) <= n:
            l1.append(i)
        else:
            l2.append(i)
    print (l1)
    print (l2)

    
    
#Driver code
list1 = [1,2,3,5,6,5,89,5,5,2,65,5,65,65,65898,8,1]
n = 3

split_list(list1, n)

[1, 2, 3, 5]
[6, 5, 89, 5, 5, 2, 65, 5, 65, 65, 65898, 8, 1]

In [5]:
'''35. Find the second largest number in a list.'''

list1 = [1,2,3,5,6,5,89,5,5,2,65,5,65,65,65898,8,1, 90]

list1.sort()

print('The second largest number is: ' + str(list1[-2]))

The second largest number is: 90

In [47]:
'''36. Replace every element in a list with its square.'''
list1 = [1,2,3,5,6,5,89,5,5,2,65,5,65,65,65898,8,1, 90]

for i in range(0, len(list1)):
    list1[i] = list1[i]**2
      
print(list1)

#other approch

for i in list1:
    i == i**2
print(list1)

[1, 4, 9, 25, 36, 25, 7921, 25, 25, 4, 4225, 25, 4225, 4225, 4342546404, 64, 1, 8100]
[1, 4, 9, 25, 36, 25, 7921, 25, 25, 4, 4225, 25, 4225, 4225, 4342546404, 64, 1, 8100]

In [63]:
'''37. Convert a list to a dictionary where list elements become keys and their indices become values.'''

list1 = ['apple', 'banana', 'pineapple', 'graps']
dict1 = {}

for i, j in enumerate(list1):
    dict2 = {j: i}
    dict3 = dict1.update(dict2)
      
print(dict1)

{'apple': 0, 'banana': 1, 'pineapple': 2, 'graps': 3}

In [2]:
'''38. Shuffle the elements of a list randomly.'''

import random as ran
list1 = [1,2,3,4,5,6]

ran.shuffle(list1)

print(list1)

[2, 1, 5, 6, 4, 3]

In [4]:
'''39. Create a list of the first 10 factorial numbers.'''

list1 = [1]
j = 1
for i in range (1,10):
    j = i*j
    list1.append(j)


print(list1)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [31]:
'''40. Check if two lists have at least one element in common.'''

def check_common_list(list1, list2):
    for i in list1:
        if i in list2:
            return ('The comman word is: ' + str(i)) 
    return ('There is no any common word')


#Driver code

list1 = [1,2,3,4,5,6]
list2 = [9,10,11,12]

check_common_list(list1, list2)

'There is no any common word'

In [32]:
'''41. Remove all elements from a list.'''

list1 = [1,2,3,4,5,6]
list1.clear()

print(list1)

[]

In [45]:
'''42. Replace negative numbers in a list with 0'''

list1 = [1,2,3,4,5,6,-6]

for i in range(0, len(list1)):
    if list1[i] < 0:
        list1[i] = 0
        
print(list1)

[1, 2, 3, 4, 5, 6, 0]

In [54]:
'''43. Convert a string into a list of words.'''

list1 = [1,2,50,4,5,6]

for i in range(0, len(list1)):
    list1[i] = str(list1[i])
    
print(list1)

['1', '2', '50', '4', '5', '6']

In [60]:
'''44. Convert a list of words into a string.'''

list1 = ['i', 'am', 'Prakash', 'Singh']
str1 = ''
for i in list1:
    str1 = str1 + ' ' + i

print(str1)

 i am Prakash Singh

In [102]:
'''45. Create a list of the first n powers of 2.'''
n = 10
list1 = []

for i in range(n):
    list1.append(2**i)
    
print(list1)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [113]:
'''46. Find the longest string in a list of strings.'''

list1 = ['i', 'am', 'Prakash', 'singh']
s1 = ''

for i in list1:
    if len(i) > len(s1):
        s1 = i
        
print(s1)

Prakash

In [120]:
'''47. Find the shortest string in a list of strings.'''

list1 = ['i', 'am', 'Prakash', 'singh']
s1 = list1[0]

for i in list1:
    if len(s1) > len(i):
        s1 = i
        
print(s1)

iss

In [125]:
'''48. Create a list of the first n triangular numbers.'''

list1 = []

for i in range(1, n+1):
    list1.append(i*(i+1)//2)
    
print(list1)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [32]:
'''49. Check if a list contains another list as a subsequence.'''

    
mainlist = [3,4,6,8,10]
otherlist = [8, 10]
temp_var = 0

for i in mainlist:
    if i == otherlist[temp_var]:
        temp_var += 1
        if temp_var == len(otherlist):
            print('Other list is available in main list')
            break

Other list is available in main list

In [41]:
'''50. Swap two elements in a list by their indices.'''

list1 = [1,2,3,4,5]

indices1 = 1
indices2 = 2

temp_var = list1[indices1]

list1[indices1] = list1[indices2]

list1[indices2] = temp_var

print(list1)

[1, 3, 2, 4, 5]

In [42]:
#Tuple based practice problem :

In [48]:
'''1. Create a tuple with integers from 1 to 5.'''

tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [1]:
'''2. Access the third element of a tuple.'''

tup = (1,2,3,4,5)
n = 3
print(tup[n-1])

3

In [2]:
'''3. Find the length of a tuple without using the len() function.'''

tup = (1,2,3,4,5)
length = 0

for i in tup:
    length += 1

print('The length of tuple is: ' + str(length))

The length of tuple is: 5

In [55]:
'''4. Count the occurrences of an element in a tuple.'''

tup = (1,2,3,4,5,1)
element = 1

occurance = 0
for i in tup:
    if i == element:
        occurance += 1

print('The occurance of ' + str(element) + ' is: ' + str(occurance))

The occurance of 1 is: 2

In [69]:
'''5. Find the index of the first occurrence of an element in a tuple.'''

tup = (1,2,3,4,4,5,5)
element = 4
occurance = 0

for i in (tup):
    
    if i == element:
        print('The index of first occurance of ' + str(element) +  ' is: ' + str(i-1))
        break

The index of first occurance of 4 is: 3

In [1]:
'''6. Check if an element exists in a tuple.'''

tup = (1,2,3,4,4,5,5)
element = 6

if element in tup:
    print('element exists in tuple')
else:
    print('element does not exists in tuple')

element does not exists in tuple

In [3]:
'''7. Convert a tuple to a list.'''

tup = (1,2,3,4,4,5,5)

list1 = list(tup)

list1

[1, 2, 3, 4, 4, 5, 5]

In [5]:
'''8. Convert a list to a tuple.'''

list1 = [1,2,3,4,4,5,5]

tup = tuple(list1)

tup

(1, 2, 3, 4, 4, 5, 5)

In [10]:
'''9. Unpack the elements of a tuple into variables.'''

tup = (1,2,3)

v1, v2, v3 = tup

print(v1)
print(v2)
print(v3)

1
2
3

In [15]:
'''10. Create a tuple of even numbers from 1 to 10.'''

list1 = [i for i in range(2,11,2)]

tuple(list1)

(2, 4, 6, 8, 10)

In [17]:
'''11. Create a tuple of odd numbers from 1 to 10.'''

list1 = [i for i in range(1,10,2)]

tuple(list1)

(1, 3, 5, 7, 9)

In [20]:
'''12. Concatenate two tuples.'''
tup1 =  (1,2,3)
tup2 = (4,5,6)

tup3 = tup1 + tup2
tup3

(1, 2, 3, 4, 5, 6)

In [ ]:
'''13. Repeat a tuple three times.'''

tup1 =  (1,2,3)

tup2 = tup1 * 3

tup2

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [27]:
'''14. Check if a tuple is empty'''

tup1 = ()

if len(tup1) == 0:
    print('Tuple is empty')
else:
    print('Tuple is not empty')

Tuple is empty

In [2]:
'''15. Create a nested tuple.'''

tup1 = ((1,2,3,4,5,), ('My', 'name', 'is', 'prakash'))

tup1

((1, 2, 3, 4, 5), ('My', 'name', 'is', 'prakash'))

In [1]:
'''16. Access the first element of a nested tuple.'''

tup1 = ((1,2,3,4,5,), ('My', 'name', 'is', 'prakash'))

print(tup1[0])

(1, 2, 3, 4, 5)

In [7]:
'''17. Create a tuple with a single element.'''

tup1 = (1,)
type(tup1)

tuple

In [13]:
'''18. Compare two tuples.'''

tuple1 = (1,2)
tuple2 = (3,4,5)

if tuple1 == tuple2:
    print('Both tuples are equal')
elif tuple1 < tuple2:
    print('tuple1 is lower than tuple2')
elif tuple1 > tuple2:
    print('tuple1 is greater than tuple2')

tuple1 is lower than tuple2

In [1]:
'''19. Delete a tuple.'''

tuple1 = (1,2,3)

del tuple1

print(tuple1)

NameError: name 'tuple1' is not defined

In [2]:
'''20. Slice a tuple.'''

tuple1 = (1,2,3,4,5,6)

slice_tuple = tuple1[0:3]

slice_tuple

(1, 2, 3)

In [3]:
'''21. Find the maximum value in a tuple.'''

tuple1 = (1,2,3,4,5,6)
print(max(tuple1))

6

In [7]:
'''22. Find the minimum value in a tuple.'''

tuple1 = (1,2,3,4,5,6)
print(min(tuple1))

1

In [12]:
'''23. Convert a string to a tuple of characters'''

string = 'Prakash Singh'
print(tuple(string))

('P', 'r', 'a', 'k', 'a', 's', 'h', ' ', 'S', 'i', 'n', 'g', 'h')

In [5]:
'''24. Convert a tuple of characters to a string.'''
tuple1 = ('P', 'r', 'a', 'k', 'a', 's', 'h', ' ', 'S', 'i', 'n', 'g', 'h')

print(''.join(tuple1))

Prakash Singh

In [6]:
'''25. Create a tuple from multiple data types'''

tuple1 = ('Hello', 1 , 1.0, True, False)

tuple1

('Hello', 1, 1.0, True, False)

In [3]:
'''26. Check if two tuples are identical.'''

tuple1 = ('Hello', 1 , 1.0, True, False)
tuple2 = ('Hello', 1 , 1.0, True, False)

tuple1 == tuple2

True

In [8]:
'''27. Sort the elements of a tuple'''

tuple1 = (1,2,4,3,5,6)

sorted(tuple1)

[1, 2, 3, 4, 5, 6]

In [11]:
'''28. Convert a tuple of integers to a tuple of strings.'''
tuple1 = (1,2,4,3,5,6)

tuple2 = []
for i in tuple1:
    tuple2.append(str(i))

tuple3 = tuple(tuple2)
    
print(tuple3)

('1', '2', '4', '3', '5', '6')

In [16]:
'''29. Convert a tuple of strings to a tuple of integers.'''

tuple1 = ('1', '2', '4', '3', '5', '6')

tuple2 = []
for i in tuple1:
    tuple2.append(int(i))

tuple3 = tuple(tuple2)
    
print(tuple3)

(1, 2, 4, 3, 5, 6)

In [22]:
'''30. Merge two tuples.'''
tuple1 = (1,2,3)
tuple2= (4,5,6)

tuple3 = tuple1 + tuple2

tuple3

(1, 2, 3, 4, 5, 6)

In [44]:
'''31. Flatten a nested tuple.'''
tuple1 = ((1,2,3), (2,3,4), (4,5,6))

tuple2 = []
for i in tuple1:
    if len(tuple1) > 1:
        for j in i:
            tuple2.append(j)

tuple3 = tuple(tuple2)
print(tuple3)

(1, 2, 3, 2, 3, 4, 4, 5, 6)

In [46]:
'''32. Create a tuple of the first 5 prime numbers.'''

n = 5
list1 = []
for num in range(2, n*3):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
        list1.append(num)
        
tuple2 = tuple(list1[0:n])

print(tuple2)

(2, 3, 5, 7, 11)

In [11]:
'''33. Check if a tuple is a palindrome.'''

tuple1 = (1,2,11)

list1 = list(tuple1)
list2 = list1
list2.reverse()

tuple2 = tuple(list2)

if tuple1 == tuple2:
    print('tuple is a palindrome')
else:
    print('tuple is note a palindrome')

tuple is note a palindrome

In [5]:
tuple1 = (1,2,3)

list1 = list(tuple1)
list11 = list1
list11.reverse()

tuple1 = tuple(list11)
print(tuple1)

(3, 2, 1)

In [15]:
'''34. Create a tuple of squares of numbers from 1 to 5.'''
l1 = []
n = 5
for i in range (1,n+1):
    l1.append(i**2)

l2 = tuple(l1)
    
print(l2)

(1, 4, 9, 16, 25)

In [20]:
'''35. Filter out all even numbers from a tuple.'''

tuple1 = (1,2,3,4,5,6,7,8,9,10,11,12)

for i in tuple1:
    if i%2 == 1:
        print(i)

1
3
5
7
9
11

In [27]:
'''36. Multiply all elements in a tuple by 2.'''

tuple1 = (1,2,3,4,5,6,7,8,9,10,11,12)

new_tuple = tuple(i*2 for i in tuple1)

print(new_tuple)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24)

In [44]:
'''37. Create a tuple of random numbers.'''
import random

tuple1 = []

for i in range(10):
    tuple1.append(random.randint(1,100))


tuple2 = tuple(tuple1)
print(tuple2)

(11, 68, 52, 47, 91, 68, 89, 24, 87, 83)

In [1]:
'''38. Check if a tuple is sorted.'''

tuple1 = (10,20,30,40,)

length = 1
for i in range(len(tuple1)-1):
    if tuple1[i] < tuple1[i+1]:
        length += 1
    else:
        length = length
        
if length == len(tuple1):
    print('Tuple is sorted')
else:
    print('Tuple is not sorted')

Tuple is sorted

In [14]:
'''39. Rotate a tuple to the left by n positions.'''

tuple1 = (1,3,2,4,6,7,8,9,10,11,12)
n = 3 

print(tuple1[n:] + tuple1[:n])

(4, 6, 7, 8, 9, 10, 11, 12, 1, 3, 2)

In [1]:
'''40. Rotate a tuple to the right by n positions.'''

tuple1 = (1,3,2,4,6,7,8,9,10,11,12)
n = 3 

print(tuple1[-n:] + tuple1[:-n])

(10, 11, 12, 1, 3, 2, 4, 6, 7, 8, 9)

In [9]:
'''41. Create a tuple of the first 5 Fibonacci numbers.'''

list1 = [1, 2]

for i in range(2, 10):
    j = list1[i-2] + list1[i-1]
    list1.append(j)

print(tuple(list1))

(1, 2, 3, 5, 8, 13, 21, 34, 55, 89)

In [23]:
'''42. Create a tuple from user input.'''

tuple1 = input()

tuple2 = tuple(tuple1.split(','))

print(tuple2)

 1,2,3

('1', '2', '3')

In [1]:
'''43. Swap two elements in a tuple.'''

tuple1 = (1,2,3,4,5,6,7)
index1 = 2
index2 = 4

tuple2 = list(tuple1)

tuple2[index1], tuple2[index2] = tuple2[index2], tuple2[index1]

  
print(tuple(tuple2))

(1, 2, 5, 4, 3, 6, 7)

In [6]:
'''44. Reverse the elements of a tuple.'''

tuple1 = (1,2,3,4,5,6,7)
tuple2 = tuple1[::-1]
print(tuple2)

(7, 6, 5, 4, 3, 2, 1)

In [13]:
'''45. Create a tuple of the first n powers of 2.'''

n = 5
tuple1 = []
for i in range(5):
    tuple1.append(2**i)
    
tuple2 = tuple(tuple1)

print(tuple2)

(1, 2, 4, 8, 16)

In [23]:
'''46. Find the longest string in a tuple of strings.'''

tuple1 = ('i' , 'am' , 'prakash', 'singh')

max(tuple1, key = len)

'prakash'

In [24]:
'''47. Find the shortest string in a tuple of strings.'''

tuple1 = ('i' , 'am' , 'prakash', 'singh')

min(tuple1, key = len)

'i'

In [45]:
'''48. Create a tuple of the first n triangular numbers.'''

#mainformula = n*(n+1)//2
n = 5 

tuple1 = []

for i in range(1, n):
    tuple1.append(i*(i+1)//2)

tuple1 = tuple(tuple1)

print(tuple1)

(1, 3, 6, 10)

In [6]:
'''49. Check if a tuple contains another tuple as a subsequence'''

def check_subsequence(maintuple, subseq_tuple):
    
    subseq_len = len(subseq_tuple)
    
    for i in range(len(maintuple) - subseq_len + 1):
        if maintuple[i : i + subseq_len] == subseq_tuple:
            return('Main tuple contains subsequence tuple')
    return('Main tuple does not contains subsequence tuple')
              
#driver code

maintuple = (1,2,3,4,5,6,7)
subseq_tuple = (2,3,4)

check_subsequence(maintuple, subseq_tuple)

'Main tuple contains subsequence tuple'

In [14]:
'''50. Create a tuple of alternating 1s and 0s of length n'''
n = 5
tuple1 = []
for i in range(n):
    tuple1.append(i%2)
    
tuple1 = tuple(tuple1)

print(tuple1)

(0, 1, 0, 1, 0)

In [15]:
#Set based problems:

In [22]:
'''1. Create a set with integers from 1 to 5'''

a = set()

for i in range(1,5):
    a.add(i)
    
print(a)

{1, 2, 3, 4}

In [4]:
'''2. Add an element to a set'''

a = {1,2,3,4,5}
element = 6

a.add(element)
print(a)

{1, 2, 3, 4, 5, 6}

In [5]:
'''3. Remove an element from a set.'''

a = {1,2,3,4,5,6}
element = 6

a.remove(element)
print(a)

{1, 2, 3, 4, 5}

In [8]:
'''4. Check if an element exists in a set.'''

a = {1,2,3,4,5,6}
element = 7

if element in a:
    print('Elelmant is available in set')
else:
    print('Element is not available in set')

Element is not available in set

In [11]:
'''5. Find the length of a set without using the len() function'''

a = {1,2,3,4,5,6}
length = 0

for i in a:
    length = length+1
    
print('The length of set is' , str(length))

The length of set is 6

In [13]:
'''6. Clear all elements from a set.'''

a = {1,2,3,4,5,6}

a.clear()

print(a)

set()

In [28]:
'''7. Create a set of even numbers from 1 to 10'''

a = set()

for i in range(2,10,2):
    a.add(i)
    
a

{2, 4, 6, 8}

In [31]:
'''8. Create a set of odd numbers from 1 to 10'''

a = set()

for i in range(1,10,2):
    a.add(i)
    
print(a)

{1, 3, 5, 7, 9}

In [35]:
'''9. Find the union of two sets'''
a = {1,2,3}
b = {4,5,6}

c = a.union(b)

c

{1, 2, 3, 4, 5, 6}

In [36]:
'''10. Find the intersection of two sets'''

a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}

c = a.intersection(b)

c

{4, 5, 6}

In [37]:
'''11. Find the difference between two sets.'''
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}

c = a.difference(b)

c

{1, 2, 3}

In [43]:
'''12. Check if a set is a subset of another set.'''

set1 = {4,5,6}
set2 = {4,5,6,7,8,9}

c = set1.issubset(set2)

print('set1 is subset of set2: ' , c)

set1 is subset of set2:  True

In [46]:
'''13. Check if a set is a superset of another set.'''

set1 = {4,5,6}
set2 = {4,5,6,7,8,9}

c = set2.issuperset(set1)

print('Set2 is superset of Set1: ' , c)

Set2 is superset of Set1:  True

In [5]:
'''14. Create a set from a list'''

list1 = [4,5,6,7,8,9]

set1 = set(list1)

print(set1)

{4, 5, 6, 7, 8, 9}

In [7]:
'''15. Convert a set to a list.'''

set1 = {4,5,6}

list1 = list[set1]

print(set1)

{4, 5, 6}

In [16]:
'''16. Remove a random element from a set.'''

import random

set1 = {4,5,6,7,8,9}
print("Original set:", set1)
randomelement = random.choice(list(set1))

set1.remove(randomelement)
print("Modified set:", set1)

Original set: {4, 5, 6, 7, 8, 9}
Modified set: {5, 6, 7, 8, 9}

In [26]:
'''17. Pop an element from a set.'''

set1 = {5,6,7,8,9}

print("Popped Element:", set1.pop())
print("Popped Set:", set1)

Popped Element: 5
Popped Set: {6, 7, 8, 9}

In [29]:
'''18. Check if two sets have no elements in common.'''

set1 = {5,6,7,8,9}
set2 = {8,9,10,11,12}

print('Common element in set :' , set1.intersection(set2))

Common element in set : {8, 9}

In [30]:
'''19. Find the symmetric difference between two sets.'''

set1 = {5,6,7,8,9}
set2 = {8,9,10,11,12}

print('Symmetric difference between two sets :' , set1.symmetric_difference(set2))

Common element in set : {5, 6, 7, 10, 11, 12}

In [33]:
'''20. Update a set with elements from another set.'''

set1 = {5,6,7,8,9}
anotherlist = {8,9,10,11,12}

set1.update(anotherlist)

print(set1)

{5, 6, 7, 8, 9, 10, 11, 12}

In [38]:
'''21. Create a set of the first 5 prime numbers.'''

n = 5
list1 = []
for num in range(2, n*3):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
        list1.append(num)
        
set1 = set(list1[0:n])

print(set1)

{2, 3, 5, 7, 11}

In [5]:
'''22. Check if two sets are identical.'''

set1 = {5,6,7,8,9}
set2 = {5,6,7,8,9}

if set1 == set2:
    print('Both sets are identical')
else:
    print('Both sets are not identical')

Both sets are identical

In [9]:
'''23. Create a frozen set'''
# The frozenset is an immutable version of a set, meaning its elements cannot be modified after creation.

normal_set = {1, 2, 3, 4, 5}

frozen_set = frozenset(normal_set)

print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [13]:
'''24. Check if a set is disjoint with another set'''

set1 = {5,6,7,8,9}
set2 = {5,6,7,8,9}


print('Both sets are disjoint: ' , set1.isdisjoint(set2))

Both sets are disjoint:  False

In [32]:
'''25. Create a set of squares of numbers from 1 to 5.'''

set1 = set()
n = 5

for i in range(1, n+1):
    sqnum = i**2
    set1.add(sqnum)

print(set1)

{1, 4, 9, 16, 25}

In [45]:
'''26. Filter out all even numbers from a set.'''
set1 = {1,2,3,4,5,6,7}
set2 = set()

for i in set1:
    if i%2 == 0:
        set2.add(i)
        
print(set2)

{2, 4, 6}

In [60]:
'''27. Multiply all elements in a set by 2.'''

set1 = {1,2,3,4,5,6,7}
squardset = set()

for i in set1:
    i= i*2
    squardset.add(i)
    
print(squardset)

{2, 4, 6, 8, 10, 12, 14}

In [2]:
'''28. Create a set of random numbers.'''

import random

set1 = set()

for i in range(5):
    randomnum = random.randint(1,100)
    set1.add(randomnum)

print(set1)

{98, 3, 5, 87, 30}

In [1]:
'''29. Check if a set is empty.'''

set1 = {}

if len(set1) == 0:
    print('This set is empty')
else:
    print('This set in not empty')

This set is empty

In [10]:
'''30. Create a nested set (hint: use frozenset).'''

set1 = [1,2,3,4,5,6,7]
set2 = [8,9,10,11,12]

frozset1 = frozenset(set1)
frozset2 = frozenset(set2)

nestedset = {frozset1, frozset2}

print('Nestedd set is :' , nestedset)

Nestedd set is : {frozenset({8, 9, 10, 11, 12}), frozenset({1, 2, 3, 4, 5, 6, 7})}

In [7]:
nestedset

[[1, 2, 3, 4, 5, 6, 7], [8, 9, 10, 11, 12]]

In [14]:
'''31. Remove an element from a set using the discard method.'''
set1 = {1,2,3,4,5}

set1.discard(2)

print(set1)

{1, 3, 4, 5}

In [5]:
'''32. Compare two sets.'''

set1 = {1,2,3,4}
set2 = {1,2,3,4,5,6,7,8}

# compareable methods are subset, superset, intersection, diffrence

is_subset = set1.issubset(set2)
print(is_subset)

is_superset = set1.issuperset(set2)

print(is_superset)

is_intersection = set1.intersection(set2)
print(is_intersection)

True
False
{1, 2, 3, 4}

In [1]:
'''33. Create a set from a string.'''

set1 = set(input('Enter the string'))

print(set1)

Enter the string Prakash

{'r', 'k', 'h', 'a', 'P', 's'}

In [7]:
'''34. Convert a set of strings to a set of integers.'''

set1 = {'123', '345', '678'}
set2 = set()
for i in set1:
    set2.add(int(i))

print(set2)

{345, 123, 678}

In [8]:
'''35. Convert a set of integers to a set of strings.'''

set1 = {123, 345, 678}
set2 = set()
for i in set1:
    set2.add(str(i))

print(set2)

{'345', '123', '678'}

In [10]:
'''36. Create a set from a tuple.'''

tuple1 = (1,2,3,4)

set1 = set()

for i in tuple1:
    set1.add(i)
    
print(set1)

(1, 2, 3, 4)

In [13]:
'''37. Convert a set to a tuple.'''

set1 = {1,2,3,4}

tuple1 = (tuple(set1))

print(tuple1)

(1, 2, 3, 4)

In [4]:
'''38. Find the maximum value in a set.'''

set1 = {1,2,3,4,5,6}

max(set1)

6

In [12]:
'''39. Find the minimum value in a set.'''

set1 = {1,2,3,4,5}

min_val = None

for num in set1:
    if min_val is None or num < min_val:
        min_val = num

print(min_val)

1

In [16]:
'''40. Create a set from user input.'''

set1 = set(input('Enter the value to store in set data type: '))
print(set1)

Enter the value to store in set data type:  13

{'1', '3'}

In [22]:
'''41. Check if the intersection of two sets is empty.'''

set1 = {1,2,3,4,5}
set2 = {6,7,8}

is_intersection = set1.intersection(set2)

if len(is_intersection) > 0:
    print('Both sets having few intersection')
else:
    print('Both sets having no any intersection')

Both sets having no any intersection

In [31]:
'''42. Create a set of the first 5 Fibonacci numbers.'''
# 0,1,2,3,5
set1 = set()

a,b = 1, 2

for i in range(6):
    set1.add(a)
    
    a, b = b, a+b
    
print(set1)

{1, 2, 3, 5, 8, 13}

In [33]:
'''43. Remove duplicates from a list using sets.'''

list1 = [1,1,2,2,3,3,4,4,5,5]

set1 = set(list1)

print(set1)

{1, 2, 3, 4, 5}

In [37]:
'''44. Check if two sets have the same elements, regardless of their count.'''

set1 = {1,2,3,4,5,6}
set2 = {6,7,8}

is_intersection = set1.intersection(set2)

if len(is_intersection) > 0:
    print('Both sets having few same element')
else:
    print('Both sets having no any same element')

Both sets having few same element

In [38]:
'''45. Create a set of the first n powers of 2'''

n = 5

set1 = set()

for i in range(n):
    set1.add(2**i)
    
print(set1)

{1, 2, 4, 8, 16}

In [42]:
'''46. Find the common elements between a set and a list.'''


set1 = {1,2,3,4,5,6}
set2 = [6,7,8]

is_intersection = set1.intersection(set(set2))

if len(is_intersection) > 0:
    print('Common elements between a set and a list are :', is_intersection)
else:
    print('There are no common elements between given  set and list')

Common elements between a set and a list are : {6}

In [50]:
'''47. Create a set of the first n triangular numbers.:'''
# 0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66,........,n

n = 5

set1 = set()

for i in range(1, n):
    
    trinum = i * (i+1)//2
    
    set1.add(trinum)
    
print(set1)

{1, 10, 3, 6}

In [55]:
'''48. Check if a set contains another set as a subset.'''

set1 = {6,7,8}
set2 = {1,2,3,4,5,6,7,8}


is_subset = set1.issubset(set2)

if is_subset == True:
    print('Set1 contains another Set2 as a subset.')
else:
    print('Set1 does not contain another Set2 as a subset.')

Set1 contains another Set2 as a subset.

In [59]:
'''49. Create a set of alternating 1s and 0s of length n.'''

set1 = set()

for i in range(10):
    if i%2 ==0:
        set1.add(0)
    elif i%2 !=0:
        set1.add(1)
        
set1

{0, 1}

In [64]:
'''50. Merge multiple sets into one.'''

set1 = {1,2,3,4}
set2 = {2,3,4,5}
set3 = {5,6,7}

set3 = set1.union(set2 , set3)

print(set3)

{1, 2, 3, 4, 5, 6, 7}